In [34]:
import sqlite3
import shutil
import zipfile
import glob
import unidecode
import os
import py7zr
from datetime import date, timedelta
import pandas as pd
import time
from os.path import exists

In [37]:
conn = sqlite3.connect('inpi.db', isolation_level=None,
                       detect_types=sqlite3.PARSE_COLNAMES)
print('connected')

db = pd.read_sql_query("SELECT * FROM rep_pm", conn)
print('read rep_pm ok')
db = db.drop_duplicates(keep="first")
print('deduplicates ok')
dbpm = db.groupby(['siren','rep_denomination'],as_index=False)['rep_qualite'].agg(lambda col: ', '.join(col))
print('groupby ok')
dbpm[dbpm['siren'] != ''].to_csv('rep_pm.csv',index=False)
print('csv saved ok')

db = pd.read_sql_query("SELECT * FROM rep_pp", conn)
print('read rep_pp ok')
db = db.drop_duplicates(keep="first")
print('deduplicates ok')
dbpp = db.groupby(['siren','rep_noms','rep_prenoms'],as_index=False)['rep_qualite'].agg(lambda col: ', '.join(col))
print('groupby ok')
dbpp[dbpp['siren'] != ''].to_csv('rep_pp.csv',index=False)
print('csv saved ok')

connected
read rep_pm ok
deduplicates ok
groupby ok
read rep_pp ok
deduplicates ok
groupby ok

In [ ]:
dbpm[dbpm['siren'] != ''].to_csv('rep_pm.csv',index=False)
dbpp[dbpp['siren'] != ''].to_csv('rep_pp.csv',index=False)

In [42]:
dbpm[dbpm['siren'] != '']

,siren,rep_denomination,rep_qualite
166,005420120,FIDUCIAIRE DE LA SEINE,Commissaire aux comptes titulaire
167,005420120,SOCIETE FINANCIERE DE PARTICIPATIONS ET DE SER...,Administrateur
168,005420260,FIDULOR,commissaire aux comptes titulaire
169,005480546,CONSEIL AUDIT & SYNTHESE,Commissaire aux comptes titulaire
170,005520176,CABINET BLOIS,commissaire aux comptes suppléant
...,...,...,...
1283872,999990666,BNP PARIBAS CARDIF,Administrateur
1283873,999990666,CARDIF ASSURANCE VIE,Administrateur
1283874,999990666,GROUPAMA GAN VIE,Administrateur
1283875,999990666,GROUPAMA INVESTISSEMENTS,Administrateur
1283876,999990666,MAZARS,Commissaire aux comptes titulaire